
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #1e293b;
  }
  ::-webkit-scrollbar-thumb {
    background: #475569;
    border-radius: 4px;
  }
  body {
    background-color: #0f172a;
    color: #f8fafc;
    overscroll-behavior: none;
    @apply font-sans;
  }
}

@media print {
  @page {
    size: auto;
    margin: 0mm;
  }
  body * {
    visibility: hidden;
    height: 0;
    overflow: hidden;
  }
  #print-area,
  #print-area * {
    visibility: visible;
    height: auto;
    overflow: visible;
  }
  #print-area {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background: white;
    color: black;
  }
}
